name: Snippetbox Actions

on:
  push:
    branches: [ master ]
    pull_request:
      branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: "Mysql Setup"
        run: |
          sudo /etc/init.d/mysql start
          mysql -e "CREATE DATABASE ${{ secrets.DB_DATABASE }} CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci; CREATE USER 'web'@'localhost';GRANT SELECT, INSERT, UPDATE ON snippetbox.* TO 'web'@'localhost';ALTER USER 'web'@'localhost' IDENTIFIED BY '1234';" -u${{ secrets.DB_USER }} -p${{ secrets.DB_PASSWORD }}
      - name: Build
        run: go build -v ./...

  test:
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - uses: actions/checkout@v2

      - name: "Mysql Setup"
        run: |
          sudo /etc/init.d/mysql start
  
          mysql -e "CREATE DATABASE ${{ secrets.TEST_DB_DATABASE }} CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;CREATE USER '${{ secrets.TEST_DB_DATABASE }}'@'localhost';GRANT CREATE, DROP, ALTER, INDEX, SELECT, INSERT, UPDATE, DELETE ON ${{ secrets.TEST_DB_DATABASE }}.* TO '${{ secrets.TEST_DB_USER }}'@'localhost';ALTER USER '${{ secrets.TEST_DB_USER }}'@'localhost' IDENTIFIED BY '${{ secrets.DB_TEST_PASSWORD }}';" -u${{ secrets.DB_USER }} -p${{ secrets.DB_PASSWORD }}
      - name: Test
        run: go test -v ./...